@media only screen and (max-width: 1124px) {
    .wrapper {
        left:-100%;
        z-index: 30;
    }

    #main-content {
        margin-left: 0;
    }

   header{
        left: 0;
        width: 100%;
    }
    #sidebar-toggle:checked ~ .wrapper {
        left: 0;
    }

    #sidebar-toggle:checked ~ .body-label {
        right: 0;
    }  

    .sub-main{
        width: 100%;
    }

}


@media only screen and (max-width: 312px){
    
}

 @media only screen and (max-width: 760px) {
    .page-header{
        display: block;
    }

    #main-content{
        margin: 0;
    }
    header{
        width: 100%;
        left: 0;
    }

    .header-icons span{
        display: inline-block;
        margin-left: 0px;
        padding: 5px;
    }

    .title-left h3{
        font-size: 15px;
        padding: 0px;
        margin-top: 10px;
        font-weight: 400;
        margin-left: 15px;
    }

    .sub-main{
        width: 100%;
    }

    .page-actions button:first-child{
        margin-left: 0rem;
    }
} 